<h1>Corps Table</h1>

<div class="content">
 <link rel="stylesheet" href="css/app.css">
    <h3>Search</h3>
    <input ng-model="searchText">
    <br />
    <br /> 

    <table id="searchTextResults" class="gridtable">
        <thead>
            <tr>
                <th>Corp</th>
                <th>Email</th>                
                <th>Owner</th>
                <th></th>
                <th></th>
            </tr>
        </thead>    

        <tr ng-repeat="corp in vm.corps | filter:searchText">
            <td>{{corp.corp}}</td>                  
            <td>{{corp.email}}</td>
            <td>{{corp.owner}}</td>
            <td><a ng-href="#/corp/{{corp.id}}">View</a></td>
<!--            <td><a ng-href="#/corp/delete/{{corp.id}}" data-confirm-delete>Delete Link</a></td>-->
<!--            <td><button ng-click="vm.deleteCorp(corp.id)">Delete</button></td>-->
        </tr>
    </table>

</div>

